[Desktop Entry]
Categories=Multimedia;Utility;Java;
Comment=Java based radio for MP3-streams
Comment[de]=In Java programmierter Radioempfänger für MP3-Streams
Exec=j-radio
Icon=j-radio.png
MimeType=x-directory/normal;inode/directory;
Name=Radio
Name[de]=Radio
Terminal=false
Type=Application
